<nav
  class="navbar sticky-top navbar-expand-sm navbar-dark"
  style="background-color: #008272"
>
  <div class="container">
    <img
      src="../assets/semantic_logopng.png"
      style="width:2rem;height: 2rem;"
    />
    <a class="navbar-brand" href="#">Sandhi GVA</a>
    <button
      class="navbar-toggler"
      data-toggle="collapse"
      data-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" (click)="createCase()" style="cursor: pointer;"
            >Create case</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="viewVariants()" style="cursor: pointer;"
            >View variants
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div style="min-height: 100vh;">
  <router-outlet></router-outlet>
  <footer class="page-footer font-small footer_class">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 text-white">
      © 2020 Copyright:
      <a href="http://www.semanticwebindia.com/"> semanticwebindia.com</a>
    </div>
    <!-- Copyright -->
  </footer>
</div>
