.container{
    margin-left: -10px;
}
.example-form {

    width: 100%;
  }
  
  .example-full-width {
    width: 70%;
  }
  
  td {
    padding-right: 8px;
  }
  .navbar {
    border-bottom: #008ed6 3px solid;
    opacity: 0.8;
  }
  